<div class="brand_list">
  <ul>
    <%@brands.each do |brand|%>
    <li class="">
      <%= image_tag Upload.get_avatar(brand.logo,"thumb" ) %>
      <br>
      <%= brand.name%>
    </li>
    <%end%>
  </ul>
</div>