<div class="myhome">
  <!--用户头像／名字-->
  <div class="myhome_top">
    <div class="info-avatar"></div>
    <div class="info-items is-bfc">
      <div class="info-name"><%=current_username%></div>
      <div class="info-desc" title="" data-original-title="373544436@qq.com">373544436@qq.com</div></div>
  </div>
  <div class="myhome_con">
    <ul class="user_slist">
      <li><span class="icon-file-text2"></span><a href="brand_build.html" class="">我的资料</a><span class="icon-chevron-thin-right"></span></li>
      <li><span class="icon-file-picture"></span><a href="brand_build.html" class="">我的展示</a><span class="icon-chevron-thin-right"></span></li>
    </ul>
  </div>
  <div class="myhome_con">
    <ul class="user_slist">
      <li><span class="icon-clipboard"></span><a href="brand_build.html" class="">登记品牌</a><span class="icon-chevron-thin-right"></span></li>
      <li><span class="icon-paste"></span><a href="" class="">绑定品牌</a><span class="icon-chevron-thin-right"></span></li>
      <!-- 积分模块
       <li><span class="icon-gift"></span><a href="" class="">积分358</a><span class="icon-chevron-thin-right"></li>-->
    </ul>
  </div>
</div>