<div class="myhome">
  <!--用户头像／名字-->
  <div class="myhome_top">
    <%= link_to myhome_edit_path do%>
    <div class="info-avatar"><%=image_tag current_user.user_profile.get_avatar_img("medium")%></div>
    <div class="info-items is-bfc clearfix">
      <div class="info-name">
        <%=current_user.user_profile.try(:user_name)%>
        <div class="introduce">
          简介:暂无简介.
        </div>
      </div>
    </div>
    <%end%>
  </div>
  <div class="myhome_con">
    <ul class="user_slist">
      <li>
        <span class="icon-file-text2"></span>
        <%= link_to "我的资料", myhome_edit_path%>
        <span class="icon-chevron-thin-right"></span>
      </li>
      <li><span class="icon-file-picture"></span><a href="brand_build.html" class="">我的展示</a><span class="icon-chevron-thin-right"></span></li>
    </ul>
  </div>
  <div class="myhome_con">
    <ul class="user_slist">
      <li><span class="icon-clipboard"></span><a href="brand_build.html" class="">登记品牌</a><span class="icon-chevron-thin-right"></span></li>
      <li><span class="icon-paste"></span><a href="" class="">绑定品牌</a><span class="icon-chevron-thin-right"></span></li>
      <!-- 积分模块
       <li><span class="icon-gift"></span><a href="" class="">积分358</a><span class="icon-chevron-thin-right"></li>-->
    </ul>
  </div>
</div>