.band_content{
    width: 100%;
    padding: 1% 2%;
}
.new_brand .float-image{
    float: left;
    width: 48%;
    margin-right: 2%;
    position: relative;
}
.new_brand .float-image img{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}
.new_brand .distpicker select{
    width: 30%;
    height: 30px;
    margin-bottom: 10px;
}
.new_brand .btn-submit{
    width: 50%;
    padding: 5px 15px;
    border-radius: 5px;
    background: #1B83D3;
    color: #fff;
    font-size: 14px;
}

/*brand_list*/
.brand_list ul.list_menu{
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
}
.brand_list ul.list_menu li a{
    width: 50%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    float: left;
}
.brand_list ul.list_menu li.selected a{
    background: #1B83D3;
    color: #fff;
}
.brand_list .post_info{
    padding: 10px;
}