.box_text .case_view{
  margin-bottom: 20px;
}
.box_text .case_view>input.text{
  width: 15%;
}
.box_text .case_view>span.room,
.case_view_square>span.room{
  padding:2%;
}
.box_text .case_view_square>input.text{
  width: 40%;
}
.upload_form_post{
  margin-bottom: 40px;
}
.confirm_area_post{
  width: 50%;
  margin: 0 auto;
}
.mb21  textarea{width: 100%;
  height: 100px;
  border: 1px solid #aaa;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-left:10px;
}
ul.product_edit li{
  list-style-type: none;
  width: 48%;
  float: left;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.12);
  margin: 2% 1%;
  background-color: #f8f8f8;
}
div.main_wrap{
  width: 100%;
}
.main_wrap>.pic_wrap{
  height: 100px;
}
.pic_wrap>img{
  width: 100%;
  height: 100px;
}
.name_short{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px;
}
.pic_wrap{
  position: relative;
}
.pic_wrap span{
  position: absolute;
  top: 0px;
  left: 0px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.pic_wrap .icon-clipboard{
  top: 40px;
  left: 42%;
}
.con-img{
  width: 100%;
  height: 100px;
  background: #000;
  opacity: 0.6;}