<div id="model_address" style="height: 300px;">
    <div data-toggle="distpicker">
      <select id="province" data-province="---- 选择省 ----" name="post[province]"></select>
      <select id="city" data-city="---- 选择市 ----" name="post[city]"></select>
      <select id="district" data-district="---- 选择区 ----" name="post[district]"></select>
      <%= text_field :detail_address, placeholder: "详细地址", class: "text" %>
    </div>
</div>