<div id="model_join_activity">
  <a class="btn_close" href="javascript:;" onclick="hideModel('model_join_activity')">×</a>
  <form>
    <p>请输入您的基本信息</p>
    <div class="box_text mb20">
      <input type="text" placeholder="请输入您的姓名">
    </div>
    <div class="box_text mb20">
      <input type="tel" placeholder="请输入手机号码">
    </div>
    <div class="box_text mb20">
      <input type="number" placeholder="请输入手机验证码">
    </div>
    <div class="box_text mb20 text_center">
      <input type="submit" value="确定" class="btn_submit">
      <input type="reset" value="取消" class="btn_cancel">
    </div>
  </form>
</div>