<div id="model_join_activity">
  <a class="btn_close" href="javascript:;" onclick="hideModel('model_address')">×</a>
      <div data-toggle="distpicker">
      <select id="model_province" data-province="-- 选择省 --"></select>
      <select id="model_city" data-city="-- 选择市 --"></select>
      <select id="model_district" data-district="-- 选择区 --"></select>
    </div>
  <div>
    <input id="model_detail_address" placeholder="详细地址" class="text" type="text">
  </div>
  <div class="confirm_area" onclick="modelAddress()">
    <span>确定</span>
  </div>
</div>