<div id="model_message">
  <a class="btn_close" href="javascript:;" onclick="hideModel('model_message')">×</a>
  <div class="text_center">
    <p class="title">温馨提示</p>
    <p class="msg">报名成功！</p>
    <p class="msg_close" onclick="hideModel('model_message')">关闭</p>
  </div>
</div>