<div class="menu">
  <%= link_to "首页", root_path, class: "control-1" %>
  <a class="control-2" href="">附近</a>
  <a class="control-3" href="">找装修</a>
  <a class="control-4" href="">买材料</a>
  <%= link_to "我的", home_path, class: "control-5" %>
</div>
<%=render file: "common/model"%>