<div class="header">
  <a class="return" href="javascript:;" onclick="history.go(-1);">返回</a>
  <span class="headline"><%=@head_title%></span>
  <%=link_to("退出", logout_path, class: "logout") if !current_user.nil? && action_name != "edit"%>
</div>