<!DOCTYPE html>
<html>
<head>
  <title>MyHomeTmp</title>
  <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>

  <script src="http://api.map.baidu.com/api?v=2.0&ak=H1HXtEt8V2H0aySyxgG84N2v71kPr8sG" type="text/javascript"></script>
</head>
<body>

<%= yield %>

</body>
</html>
